# URL de l'API backend (NestJS)
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Cartographie
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Authentification Google (OAuth) côté client
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
